@model BlogApp.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Вход в систему";
    Layout = "_Layout";
}

<div class="auth-container">
    <div class="auth-form">
        <h3 class="text-center">Вход в систему</h3>
        <form asp-action="Login" asp-controller ="Auth" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-top: 20px;">
                <button type="submit" class="btn-submit">Войти</button>
            </div>
        </form>

        <div class="auth-footer">
            Еще нет аккаунта? <a asp-action="Register" class="auth-link">Зарегистрируйтесь</a>
        </div>
    </div>
</div>